.inputsContainer{
    display: flex;
    text-transform: capitalize;
}

.containerLeft {
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px 20px;
    width: 50%;
}

.containerRight {
    width: 50%;
}

.containerRight img {
    max-width: 50%;
}

.typesBoxs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.checkbag {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 5px 5px; 
    
}

.checkbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 1px solid black;
    border-radius: 5px;
    width: fit-content;
    padding-right: 10px;
    padding-left: 5px;
    height: 25px;
    text-align: center;
    
}