#form {
    background: red;
    width: 95vw;
    margin: 2vh 1vw 2vh 1vw;
  box-shadow: 0px 0px 10px 1px rgba(255,255,255,0.98);
-webkit-box-shadow: 0px 0px 10px 1px rgba(255,255,255,0.98);
-moz-box-shadow: 0px 0px 10px 1px rgba(255,255,255,0.98);
color:blanchedalmond;
}

.inputsContainer{
    display: flex;
    text-transform: capitalize;
}

.containerLeft {
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px 20px;
    width: 50%;
    display: inline-grid;
    justify-content: flex-start;
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    background: transparent;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}



.typesBoxs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.checkbag {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 5px 5px; 
    
}

.checkbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 1px solid black;
    border-radius: 5px;
    width: fit-content;
    padding-right: 10px;
    padding-left: 5px;
    height: 25px;
    text-align: center;
    
}

.containerRight {
    width: 50%;
}

.containerRight img {
    max-width: 50%;
}