.homeContainer {
  /* background: url("https://wallpapercave.com/wp/evqHTQr.jpg") no-repeat fixed center; */

  background-image: url("../MyImages/4119224.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.center {
  display: grid;
  justify-content: center;
}

#searchbar {
  display: flex;
  justify-content: center;
}