.containerToHome {
  
}

#homeButton {
}

.homeReset {
  width: 10vw;
  height: auto;
}

/* .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */
.pokego {
  width: 10vw;
  height: auto;
}

.homeSpan {
  color: rgb(146, 12, 12);
}