.containerNavbar {
    height: 12vh;
    background: none;
}

.navbar {
    /* background: black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toHomeNav {

}

#pokepedia {
    width: auto;
    height: 10vh;
}
